.container>header{
    background-image: url(áº£nh\ c.jfif);
    text-align: center;
    background-size: 100% 100% ;
    height: 0px;
    padding-bottom: 25%;
}
.menu>ul>li{
    display: inline-block;
}
.menu>ul>li>a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: blue;
    padding: 0 10px;
    line-height: 40px;
}
.menu>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
}
.menu>ul>li>a:hover{
    color: yellow;
}
.menu>ul>li{
    position: relative;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0%;
    margin: 0%;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px black;

}
.menu>ul>li:hover>ul{
    color: yellow;
    display: block;

}
.menu ul ul a:hover{
    background-color: orangered;
    color: aliceblue;
}
.container>article{
    min-height: 400px;
    width: 75%;
    background-color: white;
    float: left;
}
.container>aside{
    min-height: 400px;
    width: 25%;
    background-color: lightgray;
    float: right;
}
.container>footer{
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}
.container>nav>a{
    color: white;
    text-emphasis: none;
    margin: 0 10px;
}
.container>nav>a:hover{
    color: yellow;
}  






footer {
	display: block;
	background-color: red;
	padding: 20px 0 10px 0;
}
ul.menu_footer li {
	list-style: none;
}
.footer {
	padding-bottom: 20px;
}
.footer h3 {
	color: rgba(100,255,10,1);
}
.copy_right {
	padding: 10px 0 0px 0;
	text-align: center;
	border-top: 1px solid #fff;
}
.sticky-top {
	position: sticky;
	top: 0;
	z-index: 1;
}